

.cabecalho {
    background-color: #383838;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 36px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 140px;
}

.botoes {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    font-size: 28px;  
}

.botaoinicio {
    padding: 20px;
}

.botaoestudantes {
    padding: 20px;
}

.principal {
    background-image: linear-gradient(#383838, #222222);
    color: #ffffff;
    display: flex;
    height: 350px;
    justify-content: center;
    padding: 48px;
}

.principal-conteudo {
    padding: 72px;
}

.imagem-principal {
    width: 252px;
    height: 252px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 14px;


}

.titulo-conteudo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 4px;


}

.texto-conteudo {
    font-size: 32px;
    text-align: center;


}

.estudantes {
    background-color: #222222;
    color: white;
    height: auto;
    padding-bottom: 50px;

}

.titulo-estudantes {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 44px;


}

.imagens-estudantes1, .imagens-estudantes2 {
    display: flex;
    justify-content: space-evenly;
    
}

.nomes-estudantes1, .nomes-estudantes2 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 27px;

}

.jhonatan {
    max-width: 100%;
    height: auto;
}

.nomes-estudantes1 {
    margin-bottom: 40px;
}

.nome-j, .nome-y {
    padding: 12px;

}

.nome-m {
    padding: 12px;
    margin-left: 30px;
    margin-right: 30px;

}

.nome-na {
    padding: 12px;
    margin-right: 30px;
    margin-left: 40px;
}


.nome-no, .nome-g {
    padding: 12px;

}

footer {
    height: 30px;
    background-color: #1b1b1b;
    text-align: center;
    padding: 50px;
}

@media screen and (max-width: 850px) {
    .botoes, .imagem-principal {
        display: none;
    }
}
